@using Asoode.Core.Contracts.General
@inject ITranslateBiz translate
@{
    ViewData.Add("PAGE_TITLE", translate.Get("PAGE_BLOG_TITLE"));
    ViewData.Add("PAGE_DESCRIPTION", translate.Get("PAGE_BLOG_DESCRIPTION"));
}
<div class="page-blog pg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="summary">@translate.Get("PAGE_BLOG_SUMMARY")</h2>
            </div>
        </div>
        <section class="row post large">
            <div class="col-md-6">
                <a href="/@ViewBag.Lang/post">
                    <img src="https://i.picsum.photos/id/591/536/354.jpg" alt="">
                </a>
            </div>
            <div class="col-md-6">
                <a href="/@ViewBag.Lang/post">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h2>
                </a>
                <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</h3>
                <div class="info">
                    <span class="name">Navid Kianfar</span>&nbsp;
                    <span class="date">21 Esfand 98</span>
                </div>
            </div>
        </section>
        <section class="row post">
            <div class="col-md-4">
                <a href="/@ViewBag.Lang/post">
                    <img src="https://i.picsum.photos/id/591/536/354.jpg" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <a href="/@ViewBag.Lang/post">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h2>
                </a>
                <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</h3>
                <div class="info">
                    <span class="name">Navid Kianfar</span>&nbsp;
                    <span class="date">21 Esfand 98</span>
                </div>
            </div>
        </section>
        <section class="row post">
            <div class="col-md-4">
                <a href="/@ViewBag.Lang/post">
                    <img src="https://i.picsum.photos/id/591/536/354.jpg" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <a href="/@ViewBag.Lang/post">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h2>
                </a>
                <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</h3>
                <div class="info">
                    <span class="name">Navid Kianfar</span>&nbsp;
                    <span class="date">21 Esfand 98</span>
                </div>
            </div>
        </section>
        <section class="row post">
            <div class="col-md-4">
                <a href="/@ViewBag.Lang/post">
                    <img src="https://i.picsum.photos/id/591/536/354.jpg" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <a href="/@ViewBag.Lang/post">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h2>
                </a>
                <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</h3>
                <div class="info">
                    <span class="name">Navid Kianfar</span>&nbsp;
                    <span class="date">21 Esfand 98</span>
                </div>
            </div>
        </section>
        <section class="row post">
            <div class="col-md-4">
                <a href="/@ViewBag.Lang/post">
                    <img src="https://i.picsum.photos/id/591/536/354.jpg" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <a href="/@ViewBag.Lang/post">
                    <h2>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</h2>
                </a>
                <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</h3>
                <div class="info">
                    <span class="name">Navid Kianfar</span>&nbsp;
                    <span class="date">21 Esfand 98</span>
                </div>
            </div>
        </section>
    </div>
</div>