@using Asoode.Main.Core.Contracts.General
@inject ITranslateBiz translate
@{
    ViewData.Add("PAGE_TITLE", translate.Get("PAGE_CONTACT_TITLE", ViewBag.Lang));
    ViewData.Add("PAGE_DESCRIPTION", translate.Get("PAGE_CONTACT_DESCRIPTION", ViewBag.Lang));
}
<div class="page-contact pg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/message.png" alt="">
            </div>
            <div class="col-md-6">
                FORM
            </div>
        </div>
    </div>
</div>