@import "../fonts/icons/asoode/style.css";
@import "../images/owl/owl.carousel.css";
@import "../images/owl/owl.theme.default.css";
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgba(68, 68, 68, 0.4);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.75);
}

::-webkit-scrollbar-corner {
  background: #fff;
}
@font-face {
  font-family: 'ASOODE';
  src: url('/fonts/icons/asoode/ASOODE.eot?j3anoh');
  src: url('/fonts/icons/asoode/ASOODE.eot?j3anoh#iefix')
  format('embedded-opentype'),
  url('/fonts/icons/asoode/ASOODE.ttf?j3anoh') format('truetype'),
  url('/fonts/icons/asoode/ASOODE.woff?j3anoh') format('woff'),
  url('/fonts/icons/asoode/ASOODE.svg?j3anoh#ASOODE') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Black.eot');
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Black.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-8 */
  url('/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_Black.woff2')
  format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_Black.woff')
  format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_Black.ttf')
  format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-8 */
  url('/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_Bold.woff2')
  format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_Bold.woff')
  format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_Bold.ttf')
  format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-8 */
  url('/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_Medium.woff2')
  format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_Medium.woff')
  format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_Medium.ttf')
  format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_Light.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-8 */
  url('/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_Light.woff2')
  format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_Light.woff')
  format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_Light.ttf')
  format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix')
  format('embedded-opentype'),
    /* IE6-8 */
  url('/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum)_UltraLight.woff2')
  format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum)_UltraLight.woff')
  format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum)_UltraLight.ttf')
  format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum).eot');
  src: url('/fonts/persian/iran-sans/persian/eot/IRANSansWeb(FaNum).eot?#iefix')
  format('embedded-opentype'),
    /* IE6-8 */
  url('/fonts/persian/iran-sans/persian/woff2/IRANSansWeb(FaNum).woff2')
  format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
  url('/fonts/persian/iran-sans/persian/woff/IRANSansWeb(FaNum).woff')
  format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('/fonts/persian/iran-sans/persian/ttf/IRANSansWeb(FaNum).ttf')
  format('truetype');
}

body {
  background: #f2f2f2;
  &.lang-fa {
    * {
      font-family: IRANSans;
      font-weight: 300;
    }
  }
  &.lang-en {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  &.dir-rtl {
    direction: rtl;
    text-align: right;
  }
  &.dir-ltr {
    direction: ltr;
    text-align: left;
  }
}

.ltr {
  text-align: left !important;
  direction: ltr !important;
}

.home-page {
  background: #f2f2f2 url("/images/main-bg.png") top center no-repeat;
  background-size: contain;
  .image-container {
    position: relative;
    > .logo {
    }
    
    .header {
      display: flex;
      justify-content: space-between;
      padding: 20px 30px;
      cursor: pointer;
      .box {
        display: flex;
        align-items: center;
        .logo {
          display: flex;
          width: 100px;
          
          a {
            width: 100px;
            img {
              max-width: 100%;
            }
          }
        }
        a.link {
          display: flex;
          padding: 3px 15px;
          color: #ffffff;
          justify-content: center;
          font-size: 0.9rem;
          text-decoration: none;
          
          &.bordered {
            border: 1px solid #ffffff;
            border-radius: 10px;
          }
        }
      }
    }
    
    .summary {
      color: #fff;
      text-align: center;
      
      h1 {
        font-size: 2rem;
        margin: 50px 0;
      }
      h2 {
        font-size: 1.5rem
      }
    }
    
    .join {
      
      a {
        background: #FF5584;
        border-radius: 20px;
        padding: 7px 10px;
        display: flex;
        color: #ffffff;
        text-decoration: none;
        width: 250px;
        margin: 30px auto;
        font-size: 0.8rem;
        justify-content: center;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
      }
    }
    
    .slider {
      background: #f2f2f2;
      width: 600px;
      height: 300px;
      position: absolute;
      z-index: 2;
      right: calc(50vw - 300px);
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    }
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 380px auto 0;
    h3 {
      text-align: center;
      font-size: 1.2rem;
    }
    h4 {
      text-align: center;
      font-size: 0.9rem;
      line-height: 1.6rem;
      margin-bottom: 20px;
    }
    
    .section-1 {
      display: flex;
      .box {
        background: #ffffff;
        padding: 20px;
        margin-inline-end: 5px;
        .ico {
          display: flex;
          justify-content: center;
          i {
            font-size: 30px;
            color: #733892;
          }
        }
        .title {
          font-weight: 400;
          font-size: 0.9rem;
          text-align: center;
          padding: 10px 0;
        }
        .description {
          text-align: justify;
          font-size: 0.8rem;
        }
      }
    }
  }
  
  .features {
    background: #ffffff;
    padding: 50px;
    margin: 50px 0 0;
    
    .feature {
      display: flex;
      margin-bottom: 50px;
      
      .info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-inline-end: 50px;
        
        h4 {
          font-size: 1.2rem;
          margin-bottom: 30px;
          font-weight: 500;
        }
        h5 {
          font-size: 0.8rem;
          line-height: 1.4rem;
        }
      }
      
      &:nth-child(2n) {
        flex-direction: row-reverse;
        .info {
          margin-inline-end: initial;
          margin-inline-start: 50px;
        }
      }
    }
  }

  .come-in {
    transform: translateY(150px);
    animation: come-in 1.5s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 1s; /* So they look staggered */
  }

  @keyframes come-in {
    to { transform: translateY(0); }
  }
  
  
  .applications {
    background: #dedddd;
    padding: 50px;
    
    h4 {
      font-weight: 500;
      margin-bottom: 50px;
    }
    
    .boxes {
      display: flex;
      .box {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          i {
            font-size: 20px;
            margin-inline-end: 20px;
          }
          span {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
        .image {
          display: flex;
          margin-top: 30px;
          a {
            text-decoration: none;
            display: flex;
            width: 50px;
            height: 50px;
            background: #fff;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            margin-inline-end: 10px;
            
            i {
              font-size: 25px;
              color: #3683f0;
            }
          }
        }
      }
    }
  }
  
  .your-work {
    padding: 50px;
    background: #ffffff;

    h4 {
      font-weight: 500;
      margin-bottom: 50px;
      text-align: center;
    }

    .boxes {
      display: flex;
      flex-wrap: wrap;
      .box {
        background: #1cc2d6;
        padding: 20px;
        border-radius: 10px;
        margin-inline-end: 20px;
        text-align: center;
        min-width: 250px;
        min-height: 250px;
        position: relative;
        i.ico {
          color: #ffffff;
          font-size: 25px;
        }
        i.bg {
          color: #61d2e2;
          position: absolute;
          bottom: 0;
          left: 0;
          font-size: 120px;
        }
        h5 {
          font-size: 0.9rem;
          font-weight: 500;
        }
        h6 {
          color: #4b5050;
          font-size: 0.8rem;
          line-height: 1.4rem;
          position: relative;
          z-index: 1;
          text-align: justify;
        }
        
      }
      .owl-nav {
        display: flex;
        width: 100%;
        margin: 30px 0;
        justify-content: center;

        .owl-prev, .owl-next {
          width: 40px;
          height: 40px;
          background: #ededed;
          border-radius: 30px;
          outline: none;
          margin-inline-end: 10px;
          box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
          
          span {
            font-size: 29px;
          }
        }
      }
    }
  }
  
  .from-today {
    background: #f2f2f2;
    padding: 50px;
    
    h4 {
      text-align: center;
      margin-bottom: 30px;
      font-weight: 500;
    }
    h5 {
      text-align: center;
      margin-bottom: 30px;
      font-weight: 400;
      font-size: 0.9rem;
    }

    .join {

      a {
        background: #FF5584;
        border-radius: 20px;
        padding: 7px 10px;
        display: flex;
        color: #ffffff;
        text-decoration: none;
        width: 250px;
        margin: 30px auto;
        font-size: 0.8rem;
        justify-content: center;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
      }
    }
    
    .customers {
      display: flex;
      max-width: 900px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      a {
        img {
          width: 150px;
          max-width: 100%;
        }
        
        &.mashverapp {
          width: 50px;
        }
      }
    }
  }
  
  .others-say {
    background: #FFFFFF;
    padding: 50px;

    h4 {
      text-align: center;
      margin-bottom: 30px;
      font-weight: 500;
    }
  }
  
  .footer {
    background: #3c2359;
    padding: 30px;
    min-height: 230px;
    display: flex;
    justify-content: space-around;
    
    .box {
      &.asoode {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        line-height: 1.5rem;
        .logo {
          img {
            width: 100px;
          }
        }
        
        a {
          text-decoration: none;
          color: #FFFFFF;
        }
      }
      
      &.middle {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        color: #FFFFFF;
        align-items: flex-end;
        font-size: 0.7rem;
      }
      
      &.boozhan {
        color: #fff;
        font-size: 0.7rem;
        
        h6 {
          font-size: 0.7rem;
          font-weight: 300;
        }
        
        > a {
          color: #a45ed8;
          margin-top: 10px;
          margin-inline-end: 10px;
          font-size: 1.3rem;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .home-page {
    background-size: auto;
  }
}